<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ITS-assistant!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ITS-assistant</title>
        <!-- Bootstrap -->
        {% stylesheets '@bootstrap_css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic' rel='stylesheet' type='text/css'/>
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        {% block javascripts %}{% endblock %}
        {% block body %}{% endblock %}
        {% javascripts
            '@jquery'
            '@bootstrap_js'
            'myjs/useCross.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
