<div class="modal fade" id="send-again-modal" tabindex="-1" role="dialog" aria-labelledby="title-again-modal" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="title-again-modal">Забыли пароль ?</h2>
            </div>
            <div class="modal-body">
                <div id="parent-form">
                    <form role="form" action="{{ path('sign_in') }}" id="send-again-form" name="send-again-form" method="post">
                        <div class="form-group">
                            <label for="input-email">Email</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                {# Реализовать проверку js #}
                                <input type="email" class="form-control" name="email" pattern="/[a-z]+\.?[a-z]*+@[a-z]+\.[a-z]+/"  id="input-email" required placeholder="Введите Ваш e-mail">
                                <span class="glyphicon form-control-feedback"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-block btn-success" name="submit-send-again" form="send-again-form">
                    <div>
                        <i class="fa fa-sign-in fa-lg "></i>
                        <span>Отправить</span>
                    </div>
                    <div class="hidden">
                        <i class="fa fa-refresh fa-spin fa-2x"></i>
                    </div>
                </button>
                <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">
                    <i class="fa fa-times-circle fa-lg "></i>
                    <span>Закрыть</span>
                </button>
            </div>
        </div>
    </div>
</div>

