<div class="modal fade bs-example-modal-sm" id="reg-modal" tabindex="-1" role="dialog" aria-labelledby="title-reg-modal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="title-reg-modal">Авторизация</h2>
            </div>
            <div class="modal-body">
                <form role="form" action="{{ path('sign_up') }}" id="registration-form" method="post">
                    <div class="form-group">
                        <label for="input-first-name">Имя</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text"  class="form-control" id="input-first-name" name="first-name" placeholder="Введите Ваше имя" pattern="[А-ЯІ]?[а-яі]+[-]?[А-ЯІ]?[а-яі]{0,15}" required>
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-second-name">Фамилия</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" id="input-second-name" name="second-name" pattern="[А-ЯІ]?[а-яі]+[-]?[А-ЯІ]?[а-яі]{0,15}" required placeholder="Введите Вашу фамилию">
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-patronymic">Отчество</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" id="input-patronymic" name="patronymic" pattern="[А-ЯІ]?[а-яі]+[-]?[А-ЯІ]?[а-яі]{0,15}" required placeholder="Введите Ваше отчество">
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-email">Email</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            {# Реализовать проверку js #}
                            <input type="email" class="form-control" name="email" pattern="/[a-z]+\.?[a-z]*+@[a-z]+\.[a-z]+/"  id="input-email" required placeholder="Введите Ваш e-mail">
                            <span class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-use-reason">Причина использования данного ресурса</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-question"></i></span>
                            <textarea name="use-reason" class="form-control" id="input-use-reason" rows="5" required></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-block btn-success">Отправить</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" style="float: right" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-success" form="form-calc-IP" id="calc-IP" style="float: left">Посчитать</button>
            </div>
        </div>
    </div>
</div>
