html, body, .container-fluid, #card-carno, #diagrams-volpera-smita, #ip-calculator, #master-report {
    height: 100%;
}
/*Логотип*/
.container-fluid > div:first-child {
    position: absolute;
    top: 32%;
    left: 30%;
    z-index: 1000;
}
.container-fluid > div:first-child > h1 {
    color: white;
    font-size: 7vw;
    font-family: 'Lobster', cursive;
    z-index: 1000;
}
#bt-menu {
    z-index: 1000;
}
nav#bt-menu .fa::before {
    opacity: 1;
    color: white;
}
nav#bt-menu .fa:hover::before {
    color: grey;
}

/*Подвал*/
.bt-menu ul:nth-of-type(2) {
    display: flex;
    justify-content: center;
}
.bt-menu ul:nth-of-type(2) li {  display: flex;  }
.bt-menu ul:nth-of-type(2) a {
    align-self: center;
}
nav#bt-menu .fa::before {
    opacity: 1;
    color: white;
}
#bt-menu.bt-menu ul:nth-of-type(2) a.fa-refresh::before {  color: #2b669a }
#bt-menu.bt-menu ul:nth-of-type(2) a.fa-comment::before {  color: #2b669a }
#bt-menu.bt-menu ul:nth-of-type(2) a.fa-vk::before {  color: #2b669a }
#bt-menu.bt-menu ul:nth-of-type(2) a.fa-facebook::before {  color: #0000F0  }
#bt-menu.bt-menu ul:nth-of-type(2) a.fa-google-plus::before {  color: red  }
#bt-menu.bt-menu ul:nth-of-type(2) li .fa:hover::before {  color: #0000F0  }

/*Вход*/
nav#bt-menu a.fa-sign-in {
    position: fixed;
    right: 20px;
    bottom: 70px;
    z-index: 100;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
nav#bt-menu a.fa-sign-in:hover {  text-decoration: none;}
nav#bt-menu a.fa-sign-in:hover::before {
    transition: .4s ease-out;
    color: #2aabd2;
}