#login-modal .modal-header {
}
#title-login-modal, #title-reg-modal {
    color:#08C;
    font-family: 'Comfortaa', cursive;
}
label {
    color: #204d74;
}
#send-again-modal {
    top:5%;
    left:45%;
    outline: none;
}
#send-again-modal .modal-body {
    color: #204d74;
}
#send-again-modal h2{
    color:#08C;
    font-family: 'Comfortaa', cursive;
}